.center {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 0, 0);
    opacity: 1;
    transition: opacity 1s ease-in-out;
    z-index: 1;
}
.center::before{
    animation: progress 4s forwards;
}
.progress-bar {
    width: 400px;
    height: 24px;
    box-sizing: border-box; 
    outline: 0.6mm solid rgb(255, 255, 255);
    position: relative;    
    opacity: 1;
    transition: opacity 1s ease-in-out;
    z-index: 1;
}
.progress-bar::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 2px;
    transform: translate(0, -50%);
    width: 0;
    height: 20px;
    background: rgb(255, 255, 255);
    animation: progress 3.5s forwards;
}
@keyframes progress {
    to {
      width: calc(100% - 2px);
    }
}
.fade-out {
    z-index: -1;
    opacity: 0;
}
.fade-out .progress-bar::before {
    z-index: -1;
    opacity: 0;
}
.fade-out .center::before {
    z-index: -1;
 
